.DjList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 25px 120px -5px rgba(0,0,0,1);
    border: solid 10px rgb(53 208 255 / 20%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100px;

    margin: 100px;
    max-width: 800px;
}

.DjListTitle {
    font-size: 128px;
    font-weight: 100;
    margin: 10px;
}

.Dj {
    text-align: center;
    margin: 2em;
}